@font-face {
    font-family: Roboto-regular;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Montserrat-extra-light;
    src: url(../fonts/Montserrat-ExtraLight.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: Montserrat-regular;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Raleway-medium;
    src: url(../fonts/Raleway-Medium.ttf);
}

@font-face {
    font-family: Raleway-regular;
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: Raleway-semi-bold;
    src: url(..//fonts/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: Raleway-bold;
    src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: Raleway-extra-bold;
    src: url(../fonts/Raleway-ExtraBold.ttf);
}

body {
    margin: 0 auto;
    max-width: 1920px;
}

.heading {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0 40px 0;
}

.header-top {
    display: flex;
    justify-content: center;
    margin: 0 0 285px 0;
}

#menu__toggle {
    opacity: 0;
}

.header-nav {
    display: flex;
    justify-content: center;
}

.logo-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 185px;
    text-decoration: none;
    color: #fff;
    margin: 0 220px 0 0;
}

.logo-link:hover .logo-icon {
    fill: #998675;
}

.logo-link:hover .logo-txt {
    color: #998675;
}

.logo-link:active .logo-icon {
    fill: white;
}

.logo-link:active .logo-txt {
    color: white;
}

.logo-icon {
    fill: CurrentColor;
}

.logo-txt {
    font-family: Raleway-regular;
    font-size: 34px;
}

.header-nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.header-nav-list-item {
    margin: 0 30px 0 0;
    padding: 0;
}

.header-nav-list-item-link {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
    text-decoration: none;
}

.header-nav-list-item-link:hover {
    color: #998675;
}

.header-nav-list-item-link:active {
    color: white;
}

.header-button-basket {
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0;
}

.header-button-basket svg {
    fill: #fff;
}

.header-button-basket:hover svg {
    fill: #998675;
}

.header-button-basket:active svg {
    fill: white;
}

.search-icon-form {
    width: 30px;
    height: 30px;
    position: relative;
    align-self: center;
}

.search-icon-form__label:hover .search-icon-form__svg {
    fill: #998675;
}

.search-icon-form__svg {
    width: 100%;
    height: 100%;
    fill: #fff;
}

.search-icon-form__label:active {
    fill: white;
}

.search-icon-form__input {
    width: 0;
    min-height: 0;
    padding: 5px;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 40px;
    left: -119px;
    color: #fff;
    font-size: 16px;
    font-family: Arial;
    text-transform: capitalize;
}

.search-icon-form__input:focus {
    width: 150px;
    min-height: 20px;
    transition: width 1s ease;
    border: 2px solid #fff;
}

.header-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 370px 0 0 0;
    width: 1280px;
    min-height: 400px;
    margin: 0 auto;
    position: relative;
}

.slider-arrow-left {
    display: block;
    width: 40px;
    height: 73px;
    position: relative;
    margin: 0 20% 0 0;
}

.slider-arrow-left:after {
    content: "";
    display: inline-block;
    width: 52px;
    height: 52px;
    border-top: 2px solid #d3c1ad;
    border-right: 2px solid #d3c1ad;
    transform: rotate(-135deg);
    position: absolute;
    top: 10px;
    left: -25px;
}

.slider-arrow-left:hover:after {
    border-top: 2px solid #998675;
    border-right: 2px solid #998675;
}

.slider-arrow-left:active:after {
    border-top: 2px solid white;
    border-right: 2px solid white;
}

.slider-arrow-right {
    display: block;
    width: 40px;
    height: 73px;
    position: relative;
    margin: 0 0 0 20%;
}

.slider-arrow-right:after {
    content: "";
    display: inline-block;
    width: 52px;
    height: 52px;
    border-top: 2px solid #d3c1ad;
    border-right: 2px solid #d3c1ad;
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    left: -25px;
}

.slider-arrow-right:hover:after {
    border-top: 2px solid #998675;
    border-right: 2px solid #998675;
}

.slider-arrow-right:active:after {
    border-top: 2px solid white;
    border-right: 2px solid white;
}

.carusel-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 200px;
}

.carusel-header-mini {
    margin: 0 0 15px 0;
    align-self: center;
    font-family: Raleway-medium;
    font-size: 36px;
    line-height: 1.2;
    color: #ffffff;
}

.carusel-header {
    margin: 0 0 20px 0;
    align-self: center;
    font-family: Raleway-extra-bold;
    font-size: 52px;
    line-height: 1.2;
    font-weight: 800;
    color: #ffffff;
}

.carusel-txt {
    margin: 0 0 52px 0;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
}

.carusel-btn {
    align-self: center;
    font-family: Raleway;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    background-color: #998675;
    padding: 21px 39px;
    border-radius: 5px;
}

.carusel-btn:hover {
    background-color: #fbfaf8;
    color: black;
}

.carusel-btn:active {
    background-color: brown;
}

.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 230px 0 0 0;
}

.pagination-item {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    border: 2px solid transparent;
    margin: 0 10px 0 0;
}

.pagination-item:last-child {
    margin: 0;
}

.pagination-item:hover {
    background-color: transparent;
    border: 2px solid #998675;
    transform: scale(1.2);
}

.site-discription {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 80px 0 80px 0;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
}

.features:after {
    content: "";
    display: block;
    width: 150px;
    height: 3px;
    background-color: #f1eee9;
}

.features:hover .features-icon {
    fill: #998675;
}

.features:hover .features-title {
    color: #998675;
}

.features:hover:after {
    background-color: #998675;
}

.features-icon {
    display: block;
    margin: 0 0 20px 0;
}

.features-title {
    width: 100%;
    margin: 0 0 10px 0;
    text-align: center;
    font-family: Raleway-medium;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.features-txt {
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #8c8c8c;
}

.exapmle-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 700px;
    background-color: #fbfaf8;
    padding: 80px 0 0 0;
}

.multi_photo {
    width: 100%;
    min-height: 300px;
    background-image: url(../img/browser_center.png), url(../img/browser_left.png), url(../img/browser_right.png);
    background-size: 45%, 40%, 40%;
    background-repeat: no-repeat;
    background-position: bottom center, bottom left +25%, bottom right +25%;
}

.exapmle-view-title {
    font-family: Raleway-medium;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.exapmle-view-txt {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    width: 750px;
    text-align: center;
}

.promo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 150px;
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
}

.promo-title {
    font-family: Raleway-regular;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}

.promo-title-mini {
    font-family: Raleway-regular;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    color: #c7b299;
}

.promo-txt {
    font-family: Montserrat;
    margin: 0;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    color: #615855;
}

.promo-btn {
    text-decoration: none;
    padding: 20px 30px;
    box-sizing: border-box;
    background-color: #998675;
    border-radius: 5px;
    color: white;
    font-family: Raleway-extra-bold;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
}

.promo-btn:hover {
    background-color: #fbfaf8;
    color: black;
}

.promo-btn:active {
    background-color: brown;
}

.our-projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 80px 0 80px 0;
}

.our-project-title {
    text-align: center;
    width: 100%;
    font-family: Raleway-bold;
    font-size: 30px;
    line-height: 1.2;
    color: #555555;
    margin: 0;
}

.our-project-txt {
    text-align: center;
    width: 750px;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 28px;
    color: #8c8c8c;
    margin: 24px 0 40px 0;
}

.our-project-nav {
    margin: 0 0 40px 0;
}

.our-project-nav-btn {
    width: 120px;
    height: 32px;
    margin: 0 10px 0 0;
    background-color: white;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #8c8c8c;
}

.our-project-nav-btn:hover {
    background-color: #998675;
    color: white;
}

.our-project-nav-btn:active {
    background-color: #fbfaf8;
    color: black;
}

.btn1 {
    color: white;
    width: 70px;
    height: 32px;
    background-color: #998675;
}

.btn5 {
    width: 135px;
    height: 32px;
    margin: 0;
}

.our-project-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 0 40px 0;
}

.our-project-card {
    display: flex;
    flex-direction: column;
    margin: 0 30px 30px 0;
    position: relative;
}

.our-project-card:hover .card-description {
    background-color: #362f2d;
}

.our-project-card:hover .card-description::before {
    border-bottom: 10px solid #362f2d;
}

.our-project-card:hover .card-img {
    filter: brightness(20%);
}

.our-project-card:hover .card-title {
    font-family: Raleway-medium;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
}

.our-project-card:hover .card-txt {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #c7b299;
}

.our-project-card:nth-child(4) {
    margin: 0 30px 0 0;
}

.our-project-card:nth-child(5) {
    margin: 0 30px 0 0;
}

.our-project-card:nth-child(6) {
    margin: 0 30px 0 0;
}

.our-project-card:hover .gallery-btn-link {
    display: block;
}

.our-project-card:hover .gallery-btn-search {
    display: block;
}

.card-img {
    display: block;
}

.card-description {
    background-color: #fbfaf8;
    position: relative;
}

.card-description::before {
    content: "";
    border: 10px solid transparent;
    border-bottom: 10px solid #fbfaf8;
    position: absolute;
    top: -20px;
    left: 19px;
}

.card-title {
    font-family: Raleway-medium;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #c7b299;
    margin: 30px 0 0 30px;
}

.card-txt {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #d1d1d1;
    margin: 14px 0 30px 30px;
}

.gallery-btn-link,
.gallery-btn-search {
    width: 25px;
    height: 25px;
    display: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 30%
}

.gallery-btn-link {
    left: 35%;
}

.gallery-btn-link svg {
    fill: white;
}

.gallery-btn-link:hover svg {
    fill: #c7b299;
}

.gallery-btn-search {
    right: 35%;
}

.gallery-btn-search svg {
    fill: white;
}

.gallery-btn-search:hover svg {
    fill: #c7b299;
}

.our-project-btn {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 20px 45px;
    background-color: #998675;
    border: 1px solid transparent;
}

.our-project-btn:hover {
    background-color: #fbfaf8;
    color: black;
    border: 1px solid black;
}

.our-project-btn:active {
    background-color: brown;
}

.our-video {
    width: 1920px;
    background-image: url(../img/video-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.video-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding: 210px 685px 0 685px;
}

.video-play {
    display: flex;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: rgba(0, 0, 0, 0.2);
}

.video-play-icon {
    margin: auto;
    fill: #fff;
    transition: all 500ms ease-out;
}

.video-play-icon:hover {
    transform: scale(1.3);
}

.video-title {
    font-family: Raleway-medium;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
    margin: 45px 0 0 0;
}

.video-txt {
    width: 550px;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #ffffff;
    margin: 30px 0 40px 0;
}

.video-timer {
    font-family: Montserrat-regular;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #c7b299;
}

.video-file {
    display: block;
}

.mobile {
    display: flex;
    justify-content: center;
    padding: 80px 0 0 0;
}

.phone-img {
    margin: 0 30px 0 0;
}

.mobile-content {
    width: 660px;
    margin: 115px 0 0 0;
}

.mobile-title {
    font-family: Raleway-bold;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    margin: 0;
}

.mobile-txt {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 40px 0 0 0;
}

.mobile-list {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;
    color: #8c8c8c;
    list-style-type: none;
    padding: 0;
    margin: 45px 0 0 50px;
}

.mobile-list-item {
    margin: 0 0 0 50px;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;
    color: #8c8c8c;
    position: relative;
}

.mobile-list-item::before {
    content: "";
    display: block;
    width: 21px;
    height: 21px;
    position: absolute;
    top: 2px;
    left: -50px;
    background-image: url(../img/arow-list.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.statistics {
    display: flex;
    justify-content: center;
    width: 1920px;
    height: 300px;
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    padding: 70px 0 60px 0;
    box-sizing: border-box;
}

.statistics-card {
    width: 180px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.statistics-card:after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    align-self: center;
}

.statistics-icon {
    align-self: center;
    fill: #c7b299;
    margin: 0 0 30px 0;
}

.statistics-card-count {
    font-family: Montserrat-extra-light;
    font-size: 48px;
    line-height: 36px;
    color: #ffffff;
}

.statistics-card-txt {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #c7b299;
    margin: 15px 0 22px 0;
}

.posts {
    display: flex;
    flex-direction: column;
    padding: 82px 0 80px 0;
}

.posts-title {
    width: 100%;
    text-align: center;
    font-family: Raleway-semi-bold;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.posts-txt {
    width: 760px;
    align-self: center;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 30px 0 40px 0;
}

.posts-container {
    display: flex;
    justify-content: center;
}

.article-card {
    width: 370px;
    margin: 0 30px 40px 0;
    position: relative;
    border: 1px solid #f8f8f8;
}

.article-card:hover .article-img {
    filter: brightness(20%);
}

.article-card:hover .article-card-description {
    background-color: #362f2d;
}

.article-card:hover .article-title {
    color: #c7b299;
}

.article-card:hover .article-txt {
    color: white;
}

.article-card:hover .calendar-date {
    background-color: #c7b299;
}

.article-card:hover .calendar-month {
    background-color: #a48d72;
}

.article-img {
    display: block;
}

.calendar {
    position: absolute;
    text-align: center;
    top: 20px;
    left: 20px;
}

.calendar-date {
    display: block;
    margin: 0;
    padding: 5px 0 5px 0;
    box-sizing: border-box;
    width: 50px;
    height: 35px;
    background-color: #363636;
    font-family: Montserrat;
    font-size: 24px;
    line-height: 20px;
    font-weight: 300;
    color: #ffffff;
    border-radius: 3px 3px 0 0;
}

.calendar-month {
    display: block;
    margin: 0;
    padding: 5px 0 5px 0;
    box-sizing: border-box;
    width: 50px;
    height: 25px;
    background-color: #252525;
    font-family: Roboto-regular;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff;
    border-radius: 0 0 3px 3px;
}

.article-card-description {
    padding: 30px 0 33px 29px;
}

.article-card:last-child {
    margin: 0 0 40px 0;
}

.article-title {
    font-family: Raleway-medium;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #555555;
}

.article-txt {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #8c8c8c;
}

.article-link {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #c7b299;
    position: relative;
}

.article-link:after {
    margin: 0 0 0 10px;
    content: '';
    display: block;
    border: 5px solid transparent;
    border-left: 5px solid #c7b299;
    position: absolute;
    top: 4px;
    right: -18px;
}

.article-btn-container {
    align-self: center;
}

.article-btn-left,
.article-btn-right {
    border: none;
    background-color: transparent;
    outline: none;
}

.article-btn-left,
.article-btn-right svg {
    fill: #d1d1d1;
}

.article-btn-left:hover,
.article-btn-right:hover svg {
    fill: #c7b299;
}

.our-partners {
    display: flex;
    justify-content: center;
    background-image: url(../img/partners-bg.png);
    background-size: cover;
    padding: 140px 0 140px 0;
}

.our-partners-link1 {
    margin: 0 90px 0 0;
}

.our-partners-link2 {
    margin: 0 90px 0 0;
}

.our-partners-link3 {
    margin: 0 90px 0 0;
}

.partner-img {
    transition: all 500ms ease-out;
}

.mobile-site {
    display: none;
}

.partner-img:hover {
    transform: scale(1.3);
}

.footer-top {
    padding: 80px 0 80px 0;
    background-color: #191919;
    display: flex;
    justify-content: center;
}

.footer-top-colomn {
    max-width: 280px;
    margin: 0 40px 0 0;
}

.colomn-link {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #d1d1d1;
    position: relative;
}

.colomn-link::after {
    margin: 0 0 0 10px;
    content: '';
    display: block;
    border: 5px solid transparent;
    border-left: 5px solid #d1d1d1;
    position: absolute;
    top: 4px;
    right: -18px;
}

.footer-link-title {
    display: block;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    color: #363636;
}

.footer-link {
    text-decoration: none;
    padding: 0 0 20px 0;
}

.footer-link:hover .footer-link-title {
    color: white;
}

.footer-link:hover .footer-link-txt {
    color: #c7b299;
}

.footer-strip::after {
    content: "";
    display: block;
    width: 270px;
    height: 2px;
    background-color: #252525;
    margin: 20px 0 20px 0;
}

.footer-link-txt {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
}

.footer-colomn-title {
    font-family: Raleway-bold;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    margin: 30px 0 30px 0;
}

.footer-twitter-txt {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
    margin: 40px 0 12px 0;
}

.twitter-link {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #00bff3;
    text-decoration: none;
}

.footer-top-txt {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #555555;
    margin: 30px 0 33px 0;
}

.footer-top-img {
    margin: 0 0 10px 0;
    transition: all 500ms ease-out;
}

.footer-top-img:hover {
    transform: scale(1.2);
}

.footer-top-img:nth-child(2) {
    margin: 0 10px 10px 0;
}

.footer-top-img:nth-child(4) {
    margin: 0 10px 10px 0;
}

.footer-bottom {
    background-color: #191919;
    display: flex;
    justify-content: space-around;
    padding: 45px 0 52px 0;
}

.footer-list-link {
    display: flex;
}

.footer-list-txt {
    font-family: Montserrat;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
}

.footer-bottom-link {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #959595;
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
    box-sizing: border-box;
    border-right: 1px solid #252525;
}

.footer-bottom-link:nth-child(4),
.border-link {
    border-right: none;
}

.footer-bottom-link:hover {
    color: #c7b299;
}

.footer-bottom-link:active {
    color: white;
}

@media (max-width: 576px) {
    body {
        max-width: 100%;
        margin: 0 auto;
    }
    .heading {
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 1;
        padding: 30px 0 30px 0;
    }
    .header-info {
        display: none;
    }
    .header-top {
        margin: 0 0 20px 0;
        flex-wrap: wrap;
        width: 100%;
    }
    #menu__toggle {
        opacity: 0;
    }
    #menu__toggle:checked~.menu__btn>span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked~.menu__btn>span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked~.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked~.menu__box {
        visibility: visible;
        left: 0;
    }
    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        right: 30px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }
    .menu__btn>span::before {
        content: '';
        top: -8px;
    }
    .menu__btn>span::after {
        content: '';
        top: 8px;
    }
    .header-nav-list {
        height: 0;
        visibility: hidden;
        margin: 0 auto;
        width: 100%;
        flex-direction: column;
    }
    .menu header-nav-list-item {
        text-align: center;
        background-color: transparent;
        margin-top: 2px;
    }
    input[type="checkbox"]:checked~.menu {
        height: auto;
        visibility: visible;
    }
    /* .header-nav {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
    }
    .header-nav-list-item-link {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }
    .header-nav-list-item:hover {
        background-color: #CFD8DC;
    } */
    .header-button-basket {
        margin: 0;
    }
    .site-discription {
        padding: 20px;
        box-sizing: border-box;
    }
    .features {
        width: 50%;
    }
    .exapmle-view {
        padding: 20px;
        box-sizing: border-box;
    }
    .exapmle-view-txt {
        width: 100%;
    }
    .multi_photo {
        min-height: 97px;
    }
    .exapmle-view {
        height: 400px;
    }
    .promo {
        padding: 20px;
        box-sizing: border-box;
        flex-wrap: wrap;
    }
    .promo-btn {
        margin: 30px 0 0 0;
    }
    .our-projects {
        padding: 20px;
        box-sizing: border-box;
        width: 100%;
        box-sizing: border-box;
        flex-direction: row;
    }
    .our-project-txt {
        width: 100%;
    }
    .our-project-nav-btn {
        min-height: 50px;
    }
    .our-project-card,
    .our-project-card:nth-child(4),
    .our-project-card:nth-child(5),
    .our-project-card:nth-child(6) {
        margin: 20px auto 0 auto;
    }
    .our-project-btn {
        margin: 20px auto 0 auto;
    }
    .video-file {
        display: none;
    }
    .video-content {
        display: none;
    }
    .posts-container {
        flex-wrap: wrap;
    }
    .posts-txt {
        width: 100%;
    }
    .article-card {
        margin: 0 0 20px 0;
    }
    .mobile-content {
        display: flex;
        flex-wrap: wrap;
    }
    .phone-img {
        width: 45%;
        margin: 0;
    }
    .mobile {
        padding: 20px;
        box-sizing: border-box;
    }
    .mobile-title {
        width: 100%;
        text-align: center;
    }
    .mobile-txt {
        width: 100%;
        text-align: center;
    }
    .mobile-list {
        width: 50%;
        margin: 0;
    }
    .statistics {
        display: none;
    }
    .posts {
        padding: 20px;
        box-sizing: border-box;
    }
    .our-partners {
        flex-wrap: wrap;
        padding: 25px 0 25px 0;
    }
    .mobile-site {
        display: block;
    }
    .our-partners-link1 {
        margin: 0 15px 0 0;
    }
    .our-partners-link2 {
        margin: 0 15px 0 0;
    }
    .our-partners-link3 {
        margin: 0 15px 0 0;
    }
    .full-site {
        display: none;
    }
    .footer-top {
        display: none;
    }
    .footer-bottom {
        padding: 25px 0 25px 0;
        align-items: center;
        flex-direction: column;
    }
}